h1 {
    font-family: verdana;
}

div {
    font-family: verdana;
    text-align: center;
    background-color: lightblue;
    font-size: 40px;
}

.icon {
    border-radius: 50%;
}

h3 {
    font-family: verdana;
    text-indent: 50px;
    font-size: 30px;
}

p {
    font-family: verdana;
    text-align: justify;
    text-indent: 90px;
}